<kunjumon nagios_instance="test-kunjumon">
   <db_connections>
      <db_connection name="testmysql" db_system="mysql" db_version="5.5" db_host_name="10.160.142.136" db_name="information_schema" user_name="nagios" user_pass="nagiosadmin"/>
      <db_connection name="rdsmysql" db_system="mysql" db_version="5.5" db_host_name="kunjumontest.cirggz0ldfze.us-west-1.rds.amazonaws.com" db_name="information_schema" user_name="nagios" user_pass="nagiosadmin"/>
   </db_connections>
   <monitors>
      <monitor name="test-mysql-mon">
         <checks>
            <check name="check 1" source_type="database" db_connection="testmysql">
               <sql value_label="UTF Character Set">select CHARACTER_SET_NAME from CHARACTER_SETS where CHARACTER_SET_NAME like '%utf%'</sql>
               <validation type="string" operator="EQ" case_sensitive="y">
                  <thresholds ok="utf8"/>
               </validation>
            </check>
            <check name="check 2" source_type="database" db_connection="rdsmysql">
               <sql value_label="Tables Count">select count(*) from tables</sql>
               <validation type="number" operator="GT">
                  <thresholds ok="60" warning="50"/>
               </validation>
            </check>
            <check name="check 3" source_type="database" db_connection="testmysql">
               <sql value_label="Character Set Name">select CHARACTER_SET_NAME from CHARACTER_SETS where CHARACTER_SET_NAME like 'latin%'</sql>
               <validation type="regex" case_sensitive="y">
                  <thresholds ok="(^latin[17])"/>
               </validation>
            </check>
         </checks>
      </monitor>
   </monitors>
</kunjumon>
